
.service {
    margin-bottom: rem(32);
    @include mq('md') {
        margin-bottom: rem(48);
    }
    &__title {
        margin-bottom: rem(16);
        @include mq('md') {
            margin-bottom: rem(24);
        }
    }
}

.project {
    position: relative;
    z-index: 1;
    margin-bottom: rem(32);
    @include mq('md') {
        margin-bottom: rem(48);
    }
    &__image {
        margin-bottom: rem(16);
        img {
           display: block;
           width: 100%;
           max-width: 100%;
           filter: grayscale(90%);
           transition: filter 1s ease-in-out;
       }
    }
    &:hover &__image img {
        filter: none;
    }
    &__link::after {
        position: absolute;
        top:0;
        right:0;
        bottom: 0;
        left: 0;
        content: "";
        cursor: pointer;
    }
}

.blogpost {
    margin-bottom: rem(32);
    @include mq('md') {
        margin-bottom: rem(48);
    }
    &__heading {
        margin-bottom: rem(16);
        @include mq('md') {
            margin-bottom: rem(24);
        }
        @include mq('xl') {
            display: flex;
        }
    }
    &__title {
        @include mq('xl') {
            width: 75%;
            order: 2;
        }
    }
    &__date {
        @include typesize(14,24);
        color: map-get($colors, 'grey-darker');
        @include mq('xl') {
            width: 25%;
            order: 1;
        }
    }
    &__text {
        @include mq('lg') {
            width: 66.66%;
        }
        @include mq('xl') {
            width: 50%;
            margin-left: 25%;
        }
    }
    &__readmore {
        display: block;
        @include typesize(14,24);
        margin-top: rem(8);
    }

}
