.credits {
    &__label {
        @include typesize(14, 24);
        text-transform: uppercase;
        letter-spacing: 0.05em;
        display: inline-block;
        padding-right: 8px;
        color: map-get($colors, 'grey-dark');
    }

    // &__value {
    //     font-style: italic;
    // }
}
