.generated {
    @include typesize(16, 24);
    p {
        margin-bottom: rem(16);
    }
    h2 {
        @include typesize(18, 24);
        margin-bottom: rem(16);
        font-weight: 700;
    }
    a {
        color: map-get($colors, 'red');
        &:hover {
            text-decoration: underline;
        }
    }
    pre {
        background-color: map-get($colors, 'grey-light');
        padding: rem(8);
        margin-bottom: rem(16);
        @include mq('md') {
            padding: rem(16);
        }
    }
}
