/* ==========================================================================
   #HEIGHT CLASSES
   ========================================================================== */

/**
 * Generate utility classes for applying height.
 *
 *
 *
 */


/* Heights
   ========================================================================== */

@each $key, $val in $global-sizing {
    .h-#{$key} {
        height: _rem($val);
    }
}


/* Heights - Tablet and larger
   ========================================================================== */

@include mq-tablet() {
    @each $key, $val in $global-sizing {
        .h-#{$key}--tab {
            height: _rem($val);
        }
    }
}


/* Heights - Desktop and larger
   ========================================================================== */

@include mq-desktop() {
    @each $key, $val in $global-sizing {
        .h-#{$key}--desk {
            height: _rem($val);
        }
    }
}
