.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.gutter {
    padding-left: rem(map-get($gutter, 'base') / 2);
    padding-right: rem(map-get($gutter, 'base') / 2);
    @each $key, $val in $media-queries {
        @if map-get($gutter, $key) {
            @include mq($key) {
                padding-left: rem(map-get($gutter, $key) / 2);
                padding-right: rem(map-get($gutter, $key) / 2);
            }
        }
    }
}
