@font-face{
    font-family:"Neue Plak";
    font-weight: 400;
    font-style: normal;
    src:url("fonts/f1393402-017c-45b3-befc-78eeba33562e.eot?#iefix");
    src:url("fonts/f1393402-017c-45b3-befc-78eeba33562e.eot?#iefix") format("eot"),
    url("fonts/ad734153-699d-48a8-85d1-5ed1ad410b69.woff2") format("woff2"),
    url("fonts/12ea4496-da88-4292-89e0-58f2fc9da2bf.woff") format("woff"),
    url("fonts/6ec74d39-8d1a-4239-ab93-96e943cec785.ttf") format("truetype");
}
@font-face{
    font-family:"Neue Plak";
    font-weight: 400;
    font-style: italic;
    src:url("fonts/fcea93a6-ff2b-4510-86e1-0b5d45acb1d7.eot?#iefix");
    src:url("fonts/fcea93a6-ff2b-4510-86e1-0b5d45acb1d7.eot?#iefix") format("eot"),
    url("fonts/11065fdf-6631-4e23-b329-5e9c641837f2.woff2") format("woff2"),
    url("fonts/4fc8b212-53e3-4e94-8388-19bca8ad3000.woff") format("woff"),
    url("fonts/262de607-ea09-46a9-a134-24c067e2a3d6.ttf") format("truetype");
}
@font-face{
    font-family:"Neue Plak";
    font-weight: 900;
    font-style: normal;
    src:url("fonts/d5d113f0-d1f3-43da-954a-5e19d9ec79e0.eot?#iefix");
    src:url("fonts/d5d113f0-d1f3-43da-954a-5e19d9ec79e0.eot?#iefix") format("eot"),
    url("fonts/0430b0ab-e329-44c7-a8cc-cbae682b12b0.woff2") format("woff2"),
    url("fonts/b700016a-3e43-4bfa-819f-6542ffe93eee.woff") format("woff"),
    url("fonts/3699bbc9-c129-4b29-86d9-8bb0a3815ab0.ttf") format("truetype");
}
