
.border-top {
    border-top: 1px solid map-get($colors, 'grey');
}
.border-bottom {
    border-bottom: 1px solid map-get($colors, 'grey');
}
.border-left {
    border-left: 1px solid map-get($colors, 'grey');
}
.border-right {
    border-right: 1px solid map-get($colors, 'grey');
}

@each $queryname, $queryvalue in $media-queries {
    @media (min-width: $queryvalue) {
        .#{$queryname}__border-top {
            border-top: 1px solid map-get($colors, 'grey');
        }
        .#{$queryname}__border-bottom {
            border-bottom: 1px solid map-get($colors, 'grey');
        }
        .#{$queryname}__border-left {
            border-left: 1px solid map-get($colors, 'grey');
        }
        .#{$queryname}__border-right {
            border-right: 1px solid map-get($colors, 'grey');
        }
    }
}
