/* ==========================================================================
   #INDEX
   ========================================================================== */

/**
 * This is the only fie you need to import to use the framework.
 * All other imports are done here.
 *
 * You need to import your custom variables (if you have any) *before* this file
 * and your custom styles *after* it.
 *
 *
 */
 @font-face {
    font-family: 'Alegreya Sans';
    font-weight: 400;
    font-style: normal;
    src: url('Alegreya-Regular.eot'); /* IE9 Compat Modes */
    src: url('Alegreya-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('Alegreya-Regular.woff') format('woff'); /* Pretty Modern Browsers */
  }
  @font-face {
    font-family: 'Alegreya Sans';
    font-weight: 700;
    font-style: normal;
    src: url('Alegreya-Bold.eot'); /* IE9 Compat Modes */
    src: url('Alegreya-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('Alegreya-Bold.woff') format('woff'); /* Pretty Modern Browsers */
  }


/* 01. Global Variables
   ========================================================================== */

@import "01-settings/01-grid";
@import "01-settings/02-typography";
@import "01-settings/03-sizes";
@import "01-settings/04-colors";
@import "01-settings/05-box-shadows";


/* 02a. Functions
   ========================================================================== */

@import "02-tools/01-functions/01-getters";
@import "02-tools/01-functions/02-units";
@import "02-tools/01-functions/03-wrapper-width";


/* 02b. Media Queries Mixins
   ========================================================================== */

@import "02-tools/02-media-queries/media-queries";


/* 02c. Mixins
   ========================================================================== */

@import "02-tools/04-mixins/box-shadow";
@import "02-tools/04-mixins/colors";
@import "02-tools/04-mixins/spacings";
@import "02-tools/04-mixins/typography";
@import "02-tools/04-mixins/effects";
// @import "02-tools/04-mixins/_buttons";
@import "02-tools/04-mixins/_circle";
@import "02-tools/04-mixins/_clearfix";
@import "02-tools/04-mixins/_hover";
@import "02-tools/04-mixins/_lists";
@import "02-tools/04-mixins/_tables";


/* 03. Resets (first files to write CSS)
   ========================================================================== */

@import "03-resets/_resets";


/* 04. Generic (rules for bare html tags - normalize goes here)
   ========================================================================== */

@import "04-generic/_01-html";
@import "04-generic/_02-body";
@import "04-generic/_03-link";
@import "04-generic/_04-inline";
@import "04-generic/_05-blockquote";
@import "04-generic/_06-lists";
@import "04-generic/_07-table";
// @import "04-generic/_08-button"
// @import "04-generic/_09-forms"
@import "04-generic/_10-paragraphs";
@import "04-generic/_11-hidden";
@import "04-generic/_12-headings";

/* 05. Objects
   ========================================================================== */

@import "05-objects/_aspect-ratio";
@import "05-objects/_dropdown";
@import "05-objects/fixed-bar";
@import "05-objects/_frame";
@import "05-objects/_grid";
@import "05-objects/_list";
@import "05-objects/_navbar";


/* 06. Components
   ========================================================================== */

@import "06-components/_box";
// @import "06-components/_buttons"
// @import "06-components/_lists"
// @import "06-components/_tables"
@import "06-components/_typography";
@import "06-components/generated";
@import "06-components/gallery";
@import "06-components/hero";
@import "06-components/productcard";


/* 07. Utilities
   ========================================================================== */


@import "07-utilities/_borders";
@import "07-utilities/_box-shadow";
@import "07-utilities/_circle";
@import "07-utilities/_colors";
@import "07-utilities/_display-float";
@import "07-utilities/_heights";
@import "07-utilities/_margins";
@import "07-utilities/_paddings";
@import "07-utilities/_position";
@import "07-utilities/_widths";


@import "baguette";
